DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=nhan
DB_NAME=upgrade_course
DB_SCHEMA=public
DB_SYNCHRONIZE=sync

GDRIVE_CLIENT_ID=xxx
GDRIVE_SECRET_KEY=xxx
GDRIVE_URI_CALLBACK=http://localhost

GDRIVE_MAINFOLDER_ID=xx

GDRIVE_ACCESS_TOKEN=xx
GDRIVE_REFRESH_TOKEN=xxx